xbGroupId: 690933736
# 小小的总群（用来接收验证码提醒 和给所有小号发自动任务命令）
xxGroupId: 690933736
captcha:
   shitu-api-url: http://113.44.42.139:8001/
#   shitu-api-url: http://116.205.232.32:8848/

bot:
  # 类型：ws 正向连接，ws-reverse 反向连接，
#  - type: ws
#    url: ws://127.0.0.1:8082
#    #修炼+任务群
#    groupId: 971327442
#    accessToken: 1024*1024*1024
#    #    大号qq
#    controlQQ: 819463350
#    #    大号qq
#    masterQQ: 819463350
#    # 是否开启查价格
#    enableCheckPrice: true
#    # 是否开启猜成语
#    enableGuessTheIdiom: false
#    # 是否开启查行情
#    enableCheckMarket: false
#    #  悬赏令价格查询 注意：这个为true会自动查询悬赏令价格
#    enableXslPriceQuery: false
#    # 修炼模式：0什么都不干，1修炼，2普通闭关，3宗门闭关
#    cultivationMode: 0
#    #悬赏令模式 1：手动 2：手动接取自动结算 3：全自动价值优先（默认） 4时长最短 5修为最高
#    rewardMode: 5
#    #宗门任务1：邪修和查抄（默认） 2：所有任务
#    sectMode: 2
#    #自动灵田结算（默认 true）
#    enableAutoField: true
#    #自动秘境结算 （默认 true）
#    enableAutoSecret: true
#    #无偿双修
#    enableAutoRepair: false
#    #群管提醒
#    enableGroupManager: false
#    #悬赏令价格限制（超过这个价格会优先接取）
#    xslPriceLimit: 1000
#    botNumber: 5
#    enableSelfTitle: false
#    #开启小北脚本
#    enableXiaoBei: true
#    #赠送灵石的数量 或者自己发送我要灵石**
#    lingShiNum: 100
#    #赠送灵石的QQ群 不要设置大群 不然看到有接收码就会自己送哈
#    lingShiQQ: 1011466037
#    #群管提醒
#    enableAutomaticReply: false
#    #0:不转发 1转发部分消息
#    forwardMode: 1
#    #保存图片到本地
#    enableSavePic: false
#    enableAutoVerify: false
#    #自动验证模式 0：不验证 1：自动验证(失败停止验证) 2:自动验证（不停止验证）
#    autoVerifyModel: 2
#    #定时自动任务 7:30 修仙签到 宗门丹药领取 宗门任务 8：05 悬赏令 12:35 秘境
#    enableAutoTask: true
#    #挑战模式 0:不自动执行 1：一口气打完9层 2：3，7，8层打完回血
#    challengeMode: 1
#    enableXyHerbClass: false
#    #启用炼丹模块
#    enableAlchemy: true
#
  - type: ws
    url: ws://117.72.213.211:8089
    accessToken: 1024*1024*1024
    #    修炼群号
    groupId: 1055328182
    # 控制小号的QQ
    controlQQ: 1018454301
    masterQQ: 1018454301
    enableAlchemy: true
    challengeMode: 2



server:
  port: 6001

botcore:
  enabled: true

spring:
  datasource:
    hikari:
      jdbc-url: jdbc:h2:mem:db;DB_CLOSE_DELAY=-1
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        jdbc:
          #为spring data jpa saveAll方法提供批量插入操作 此处可以随时更改大小 建议500哦
          batch_size: 1000
          batch_versioned_data: true
          order_inserts: true
    database-platform: org.hibernate.dialect.H2Dialect
  thymeleaf:
    cache: false
  task:
    scheduling:
      pool:
        size: 10

docker:
  host: auto

napcat:
  image: docker.1ms.run/mlikiowa/napcat-docker:latest
  data-root: /home/user/JavaBot
  qq-data-dir: /root/qq_data
  napcat-config-dir: /root/napcat_config

update:
  enabled: true
  baseUrl: http://113.44.42.139:7000/
  autoApply: true
  autoRestart: true
  checkIntervalMs: 3600000
  initialDelayMs: 60000
